* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto";
}

.main {
    width: 100%;
}

.page1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;


}

nav {
    width: 100%;
    height: 10vh;
    background-color: white;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    padding: 0 2vmax;
    box-shadow: 0 0.5px 9px rgb(255, 254, 254);
    font-family: "Roboto";
    letter-spacing: 0.8px;
}

.navOptions a:hover {
    color: #ec7124;
}

.navOptions h5:hover {
    color: #ec7124;
}

nav a {
    text-decoration: none;
    transition: all ease 0.3s;
}

nav h5 {
    text-decoration: none;
    transition: all ease 0.3s;
}

.navOptions {
    display: flex;
    align-items: center;
    gap: 4vmax;
    justify-content: center;
}

.navOptions a {
    color: black;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 0.95vmax;
    letter-spacing: 0.8px;

}

.left {
    width: 50%;
    height: 100%;
}

.right {
    width: 50%;
    height: 100%;
}

/* 
.p1-left {
    background-color: red; */
/* background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_5000x.jpg?v=1646159164%205000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_4500x.jpg?v=1646159164%204500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_4000x.jpg?v=1646159164%204000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_3500x.jpg?v=1646159164%203500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_3000x.jpg?v=1646159164%203000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_2500x.jpg?v=1646159164%202500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_2000x.jpg?v=1646159164%202000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_1800x.jpg?v=1646159164%201800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_1600x.jpg?v=1646159164%201600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_1400x.jpg?v=1646159164%201400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_1200x.jpg?v=1646159164%201200w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_1000x.jpg?v=1646159164%201000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_800x.jpg?v=1646159164%20800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_600x.jpg?v=1646159164%20600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_400x.jpg?v=1646159164%20400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-electric-scooter-now-in-stock_c5926a3e-f2ff-46a9-9c91-97765798bac4_200x.jpg?v=1646159164%20200w,); */
/* background-size: cover;
    background-position: center;
    margin-top: 4.6vmax;
    width: 100%;
} */

/* ================================================ */
.image-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-top: 4.6vmax;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    background: rgba(190, 186, 186, 0.5);
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-container:hover::after {
    opacity: 1;

}


.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.image-container:hover img {
    transform: scale(1.1);
}

/* ================================================ */

/* .hoverImg{
    width: 50%;
    height: 100%;
    background-color: white;
} */
/* .p1-right {
    background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_5000x.jpg?v=1680839620%205000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_4500x.jpg?v=1680839620%204500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_4000x.jpg?v=1680839620%204000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_3500x.jpg?v=1680839620%203500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_3000x.jpg?v=1680839620%203000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_2500x.jpg?v=1680839620%202500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_2000x.jpg?v=1680839620%202000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_1800x.jpg?v=1680839620%201800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_1600x.jpg?v=1680839620%201600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_1400x.jpg?v=1680839620%201400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_1200x.jpg?v=1680839620%201200w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_1000x.jpg?v=1680839620%201000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_800x.jpg?v=1680839620%20800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_600x.jpg?v=1680839620%20600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_400x.jpg?v=1680839620%20400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/Boosted-USA-Super-73-Home-Box-feature-600x544_200x.jpg?v=1680839620%20200w,);
    background-size: cover;
    background-position: center;
    margin-top: 4.6vmax;
    background-color: darkblue;

} */

.page2 {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    display: flex;

}

.p2Img {
    margin-top: -2vmax;
}

/* .p2-left {
    background-color: blue;
    background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_5000x.jpg?v=1646159245%205000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_4500x.jpg?v=1646159245%204500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_4000x.jpg?v=1646159245%204000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_3500x.jpg?v=1646159245%203500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_3000x.jpg?v=1646159245%203000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_2500x.jpg?v=1646159245%202500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_2000x.jpg?v=1646159245%202000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_1800x.jpg?v=1646159245%201800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_1600x.jpg?v=1646159245%201600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_1400x.jpg?v=1646159245%201400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_1200x.jpg?v=1646159245%201200w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_1000x.jpg?v=1646159245%201000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_800x.jpg?v=1646159245%20800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_600x.jpg?v=1646159245%20600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_400x.jpg?v=1646159245%20400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-electric-skateboard-now-in-stock_200x.jpg?v=1646159245%20200w,);
    background-size: cover;
    background-position: center;
}

.p2-right {
    background-color: salmon;
    background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_5000x.jpg?v=1655828690%205000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_4500x.jpg?v=1655828690%204500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_4000x.jpg?v=1655828690%204000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_3500x.jpg?v=1655828690%203500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_3000x.jpg?v=1655828690%203000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_2500x.jpg?v=1655828690%202500w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_2000x.jpg?v=1655828690%202000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_1800x.jpg?v=1655828690%201800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_1600x.jpg?v=1655828690%201600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_1400x.jpg?v=1655828690%201400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_1200x.jpg?v=1655828690%201200w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_1000x.jpg?v=1655828690%201000w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_800x.jpg?v=1655828690%20800w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_600x.jpg?v=1655828690%20600w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_400x.jpg?v=1655828690%20400w,%20%20%20%20%20//cdn.shopify.com/s/files/1/0268/1454/6031/files/minimotors-electric-scooters-2_200x.jpg?v=1655828690%20200w,);
    background-size: cover;
    background-position: center;
} */


.box1Content {
    position: absolute;
    z-index: 1000;
    width: 40%;
    border-radius: 25%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.5;

}

.box2Content {
    left: 75%;

}

.box3Content {
    top: 170%;
}

.box4Content {
    top: 170%;
    left: 75%;
}

/* ---------------------------------------Page 3------------------------------------------ */

.page3 {
    width: 100vw;
    height: 140vh;
}

.filler {
    height: 5vmax;
}

.blackBar {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
}

.p3-top {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 4vmax;
}

.p3-top p {
    font-size: 1vmax;
}

.p3-top p>a {
    color: rgb(255, 87, 64);
    text-decoration: none;
}

.p3-top h4>span {
    font-weight: 400;
}

.p3-bottom {
    width: 100%;
    height: calc(140vh - 10% - 50vh);
    display: flex;
}

.description1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description1>img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.description2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: space-around;
    padding-left: 5vmax;
}

.description2 p {
    font-size: 1vmax;
}

.description2 button {
    background-color: #FF4A32;
    border-radius: 50px;
    padding: 0.5vmax 1vmax;
    border: none;
    color: white;
    transition: all linear 0.2s;
}

.description2 button a {
    text-decoration: none;
    color: white;
}

.description2 button:hover {
    background-color: gray;
}

.page4 {
    width: 100%;
    height: 100vh;
    display: flex;

}

.p4-description1 {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    padding-left: 8vmax;
}

.p4-description1 p {
    font-size: 1vmax;
    line-height: 20px;
}

.p4-description1 button {
    background-color: #FF4A32;
    border-radius: 50px;
    padding: 0.5vmax 1vmax;
    border: none;
    color: white;
    transition: all linear 0.2s;

}

.p4-description1 button:hover {
    background-color: gray;
}

.p4-description1 button>a {
    text-decoration: none;
    color: white;

}

.p4-description2 {
    width: 50vw;
    height: 100%;
}

.filler1 {
    height: 13vmax;
}

.p4-description2 img {
    width: 80%;
    object-fit: cover;
    height: 70%;
    margin-top: 6vmax;
    margin-left: 4vmax;

}

/* -----------------------------------Page 5-------------------------------------- */

.page5 {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/boosted-rev-display_2000x.jpg?v=1646160921);
    background-size: cover;
    background-position: center;
}

.page5 div {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 3vmax;

}

.page5 div>h1 {
    font-size: 3.1vmax;
}

.page5 div>h4 {
    letter-spacing: 0.1vmin;
    font-size: 1vmax;

}

.page5 div>button {
    background-color: #FF4A32;
    border-radius: 50px;
    padding: 0.5vmax 1vmax;
    border: none;
    color: white;
    padding: 0.5vmax 4vmax;
    margin-top: 1vmax;
    transition: all linear 0.2s;

}

.page5 div>button:hover {
    background-color: gray;
}

.page5 div>button>a {
    text-decoration: none;
    color: white;
}


/* -----------------------------------------Page 6---------------------------------------- */

.page6 {
    width: 100vw;
    height: 100vh;
}

.page6 iframe {
    width: 75%;
    height: 94%;
    margin-top: 1.5vmax;
    margin-left: 12.5vmax;
}

/* ------------------------------------------Page7------------------------------------------ */


.page7 {
    width: 100vw;
    height: 80vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0268/1454/6031/files/evolve-skateboards-1_2000x.jpg?v=1646161047);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page7 div {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 3vmax;
    gap: 1vmax;
    padding-bottom: 4vmax;


}

.page7 div>h1 {
    font-size: 3.1vmax;
}

.page7 div>h4 {
    letter-spacing: 0.1vmin;
    font-size: 1vmax;

}

.page7 div>button {
    background-color: #FF4A32;
    border-radius: 50px;
    padding: 0.5vmax 1vmax;
    border: none;
    color: white;
    padding: 0.5vmax 4vmax;
    margin-top: 1vmax;
    transition: all linear 0.2s;

}

.page7 div>button:hover {
    background-color: gray;
}

.page7 div>button>a {
    text-decoration: none;
    color: white;
}

/* --------------------------------------------------------Page 8-------------------------------- */

.page8 {
    width: 100vw;
    height: 120vh;
    padding-top: 1vmax;

}

.page8 h1 {
    text-align: center;
}

.p8-products1-list {
    width: 100%;
    height: 45%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;


}
.p8-products1-list::-webkit-scrollbar{
    display: none;
}


.p8-products1-list div {
    width: 15%;
    height: 80%;   
    text-align: center;
    display: inline-block;
    margin-left: 2vmax;
    margin-top: 2.5vmax;

}
.p8-products1-list div> h5:nth-child(2){
    color: #ec7124;
}
.p8-products1-list div>img{
     width: 15vmax;
    object-fit: cover;
    object-position: center;
}

.p8-products2-list {
    width: 100%;
    height: 45%;
    background-color: red;
}













/* ==========================================================================================================
                                Shop Page
========================================================================================================== */

.products {
    width: 100vw;
    height: 100vh;
    margin-top: 4.6vmax;
}

.productHead {
    margin-top: 5.5vmax;
    margin-left: 10vmax;
}